body{
    font-family: 'Fira Code', monospace;
}

#map{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.semi-transparent{
    background-color: rgba(256, 256, 256, .7)
}

.icon {
    font-size: 1.5em;
}