@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Set your brand colors
$navy: #003399;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$primary: $navy;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
